body {
	font-family: 'Space Mono', monospace, sans-serif;
	}

.fixedContent {
	position: fixed;
	font-family: 'Space Mono';
	border:2px black solid ; 
	margin: 1rem; 
	padding: 1rem;
}

h1 {
	margin:0;
	font-size: 8px;
}

p {
	margin:1rem 0 1rem 0;
	font-size: 8px;
}